:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: "Arial Black";
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-block-end: 10px;


}

header nav a{
    color: #aaa;;
    text-decoration: none;
    margin-right: 10px;  

}

header nav a:hover{
    color: white;
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)), url('/netflix/img/fqldf2t8ztc9aiwn3k6mlX3tvRT\ \(1\).jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-block-end: 10px;
}

.descricao{
    padding: 15px 20px;
    font-size: 20px;
    width: 600px;
}

.titulo{
    margin-left: 20px;
    font-size: 40px;
    
    
}

.botao{
    margin-left: 20px;
    background-color:rgba(0,0,0,.50);
    border: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s ease all;
    
}
.botao:hover{
    color: black;
    background-color: white;
}

.botao i {
    margin-right: 10px;
    font-size: 20px;
}

.icons{
    padding: 5px 20px;
    color: rgb(255, 238, 0);
    display: flex;
    font-size: 20px;
    text-shadow: -1px -1px 0px #141414 ;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    color: white;
}

.info .ano{
    margin-right: 10px;
    color:white;
    
}

.info .idade{
    margin-right: 10px;
    background:gray;
    color:white;
    border-radius: 5px;
    text-shadow: none;
    padding: 5px 3px;
    justify-content: center;
    font-size: 14px;


}

.box-filme{
    height: 20%;
    width: 20%;
    display: block;
}



